* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  color: #ffffff;
  background-color: #2e80ce;

  padding: 30px 60px;
  border-radius: 99px;
  min-width: 100px;
}

a {
  text-decoration: none;
}
/* header */
header {
  min-height: 100vh;
  background-color: var(--header-bg);
  padding-top: 30px;
}
.logo {
  font-size: 1rem;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}
.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: #2e80ce;
}
.logo__circle::after {
  width: 1.6em;
  height: 1.6em;
  background-color: #ffffff;
  position: absolute;
  top: 1.1em;
  left: 1.1em;
}
.logo__text {
  margin-left: 0.6em;
  text-align: right;
}
.logo__text1,
.logo__text2 {
  display: block;
  color: #ffffff;
}

.logo__text1 {
  font-size: 1.8em;
  font-weight: 400;
}
.logo__text2 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}

.navbar__link {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;
  color: #c9d2da;
  padding: 4px 21px;
}

.action__btn {
  font-weight: 300;
  padding: 4px 14px;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #c9d2da;
  text-align: center;
}
.header-action .btn {
  padding: 8px 21px;
  color: #ffffff;
  font-weight: 400;
}
.header-action .btn:hover {
  opacity: 0.9;
}
.navbar__item--active,
.navbar__link:hover {
  color: #ffffff;
  text-shadow: 1px 0 0 currentColor;
  position: relative;
}
.navbar__item--active::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #c9d2da;
  position: absolute;
  left: 10px;
  top: 12px;
}
.hero {
  display: flex;
  margin-top: 76px;
}
/*hero media */
.hero__images {
  display: flex;
  margin-left: 113px;
  align-items: center;
  justify-content: flex-end;
}
.hero__image1 {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: -6px;
  position: relative;
}

.hero__image2 {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}
/* hero content */
.hero__content {
  width: 44%;
  margin-top: 60px;
}
.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.hero__desc {
  margin-top: 22px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #c9d2da;
}
.hero__row {
  display: flex;
  margin-top: 38px;
  align-items: center;
}
.hero .btn {
  font-size: 1.8rem;
  padding: 21px 44px;
  min-width: 205px;
  min-height: 60px;
}
.hero__call {
  margin-left: 38px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
}
/* service */
.services {
  margin-top: 170px;
}
.section_heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: #10375c;
}
.section_desc {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  align-items: center;
  margin-top: 18px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;

  color: #575f66;
}
/* service row */
.service_row {
  margin-top: 70px;
  display: flex;
}
.service_img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}
.service_list {
  margin-left: 130px;
}
.service-item {
  display: flex;
  width: 470px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 21px 0px 20px 22px;
  cursor: pointer;
  transition: 0.25s;
}
.service-item__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
  color: #10375c;
}
.service-item__desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}
.service_list .btn {
  margin-top: 55px;
  padding: 22px 55px;
}
.service-item__icon {
  margin-right: 19px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #10375c;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}
.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
  color: #ffffff;
  background: #2e80ce;
}
